name: Deploy

on:
  push:
    tags:
    - '*.*.*'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Run tests
        run: sbt test

      - name: Get tag and tracker version information
        id: version
        run: |
          echo ::set-output name=TAG_VERSION::${GITHUB_REF#refs/*/}
          echo "##[set-output name=SBT_VERSION;]$(sbt version -Dsbt.log.noformat=true | perl -ne 'print "$1\n" if /info.*(\d+\.\d+\.\d+[^\r\n]*)/' | tail -n 1 | tr -d '\n')"
      
      - name: Fail if version mismatch
        if: ${{ steps.version.outputs.TAG_VERSION != steps.version.outputs.SBT_VERSION }}
        run: |
          echo "Tag version (${{ steps.version.outputs.TAG_VERSION }}) doesn't match version in project (${{ steps.version.outputs.SBT_VERSION }})"
          exit 1

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9' # Version range or exact version of a Python version to use, using SemVer's version range syntax

      - name: Install release manager
        run: pip install release-manager

      - name: Publish
        env:
          BINTRAY_USER: ${{ secrets.BINTRAY_SNOWPLOW_GENERIC_USER }}
          BINTRAY_PASS: ${{ secrets.BINTRAY_SNOWPLOW_GENERIC_API_KEY }}
          TAG_VERSION: ${{ steps.version.outputs.TAG_VERSION }}
          SBT_VERSION: ${{ steps.version.outputs.SBT_VERSION }}
        run: |
          release-manager \
            --config "./.github/release.yml" \
            --check-version \
            --make-version \
            --make-artifact \
            --upload-artifact